body{
    background-color: bisque;
    font-family: "Roboto",sans-serif;
    font-weight: lighter;
    text-align: center;
}

.button{
    border: none;
    padding: 0.625em;
    border-radius: 0.5em;
    cursor: pointer;
}

.button:hover{
    filter: brightness(0.9);
}

.button:active{
    transform: translateY(2px);
}

.input{
    padding: 0.5em;
    border: none;
    font-size: 0.9em;
    flex-grow: 1;
    border-radius: 0.5em;
}

.input[type="text"], .chat-input[type="text"]:focus {
    border: none;
    outline-width: 0;
}
