<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/static/style.css' />
  <title>BUTTON</title>
</head>
<body>
  <div id="SEZIONE BOTTONI">
    <h3>Comandi base</h3>
    <form method="post" action="/">
      <input class="button" type="submit" value="avantiBtn" name="avanti"/>
      <input class="button" type="submit" value="indietroBtn" name="indietro"/>
      <input class="button" type="submit" value="destraBtn" name="destra"/>
      <input class="button" type="submit" value="sinistraBtn" name="sinistra"/>
    </form>

    <h3>Comandi composti</h3>
    <form method="post" action="/">
      <input class="input" type="text" id="fComando" placeholder="Inserire comando...">
     </form>
  </div>
</body>
