<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/static/style.css'/>
  <title>Controllo alphabot</title>
</head>
<body>
  <div class="sezioneBottoni">
    <h3>Comandi base</h3>
    <form method="post" action="/">
      <div class="contenitoreBottoni">
        <input class="button avanti" type="submit" value="AVANTI" name="avanti"/>
        <input class="button sinistra" type="submit" value="SINISTRA" name="sinistra"/>
        <input class="button destra" type="submit" value="DESTRA" name="destra"/>
        <input class="button indietro" type="submit" value="INDIETRO" name="indietro"/>
      </div>
    </form>

    <h3>Comandi composti</h3>
    <form method="post" action="/">
      <input class="input" type="text" id="fComando" name="inputBox" autocomplete="off" placeholder="Inserire comando...">
      <input style="display: none" class="button" type="submit" value="Invia"/>
     </form>
  </div>
</body>
</html>
