<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/static/style.css'/>
  <title>Login</title>
</head>
<body>
    <h3>LOGIN</h3>
  <div class="sezioneBottoni">
    <div class="contenitoreLogin">

    <h3>Nome Utente:</h3>
    <form method="post" action="/">
      <input class="input" type="text" id="fComando" name="inputBox" autocomplete="off" placeholder="Inserire utente...">
      <input style="display: none" class="button" type="submit" value="Invia"/>
     </form><br>
    <h3>Password:</h3>
     <form method="post" action="/">
       <input class="input" type="text" id="fPassword" name="inputBox" autocomplete="off" placeholder="Inserire password...">
       <input style="display: none" class="button" type="submit" value="Invia"/>
      </form>

        <input class="button" type="submit" value="ENTRA" name="entra"/>
      </div>
  </div>
</body>
</html>